@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<input ID="ButtonLogin" value="Ingresar " class="btn btn-blue " type="submit" />

<p>Use this area to provide additional information.</p>