@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <h1>Proyecto DAD final</h1>
        <hr />
        <br />
        <div class="row d-flex justify-content-around">
            <a href="#" class="btn btn-primary">Dimensión tangibilidad</a>
            <a href="#" class="btn btn-primary">Dimensión empatia</a>
            <a href="#" class="btn btn-primary">Dimensión capacidad de respuesta</a>
            <a href="#" class="btn btn-primary">Dimensión fiabilidad</a>
            <a href="#" class="btn btn-primary">Dimensión cortesia</a>
            <a href="#" class="btn btn-primary">Filatro por sexo</a>
            <a href="#" class="btn btn-primary">Filtro por año de ingreso</a>
           
        </div>
        
    </div>